<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{TITLE}}</title>

    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="highlight.css" />
  </head>

  <body>
    <div class="app">
      <aside class="sidebar">
        <div class="logo">ElasticDocs</div>

        <nav id="sidebar"></nav>
      </aside>

      <main class="content">
        <!--
        <header>
          <h1>{{TITLE}}</h1>
          <p>{{SUBTITLE}}</p>
        </header>
        -->

        <article>{{CONTENT}}</article>

        <footer>ElasticDocs Builder v1.0</footer>
      </main>
    </div>

    <script src="js/toc.js"></script>
    <script src="js/lightbox.js"></script>
  </body>
</html>
