# Dependencias
node_modules/

# Archivos generados
dist/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del editor
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp