h1 {
  font-size: 46px;

  margin-bottom: 10px;
}

h2 {
  margin-top: 50px;

  margin-bottom: 20px;

  color: #0f766e;
}

h3 {
  margin-top: 30px;
}

p {
  line-height: 1.9;

  margin-bottom: 18px;
}

ul {
  margin-left: 25px;
}

table {
  margin-top: 25px;
}
